# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
cibo
main
samples/asm/simple_branch
samples/asm/simple_call
samples/asm/modrm_parse_test
samples/asm/echo_input

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

/vendor/

